<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mobilize.VBUC.Helpers.All" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="Mobilize.VBUC.Helpers.DB.ADO" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="Mobilize.VBUC.Helpers.DB.DAO" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="Mobilize.VBUC.Helpers.DB.Essentials" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="Mobilize.VBUC.Helpers.Utils" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="Mobilize.VBUC.Helpers.Utils.ReflectionHelper" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.DataGridViewCommon" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.DataGridViewFlex" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.DB.ADO.Controls" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.DB.Essentials.Controls" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.Gui" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.Gui.ContainerHelper" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.Gui.Graphics" version="8.1.2-rc0840" targetFramework="net461" />
  <package id="UpgradeHelpers.SupportHelper" version="8.1.2-rc0840" targetFramework="net461" />
</packages>